{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter CCE Marks</title>
    <link rel="stylesheet" href="{% static 'global/styles.css' %}">
</head>
<body>
    
    <div id="content">
        <h1>Enter CCE Marks</h1>
        <form action="{% url 'process_marks' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="year" value="{{ request.session.year }}">
            <input type="hidden" name="branch" value="{{ request.session.branch }}">
            <input type="hidden" name="semester" value="{{ request.session.semester }}">
            <input type="hidden" name="subject" value="{{ request.session.subject }}">
            <input type="hidden" name="type" value="{{ request.session.type }}">
            <input type="hidden" name="component" value="{{ request.session.component }}">
            <h2>Enter CCE Marks for Up to 70 Students</h2>
            <div class="group-box">
                {% for student in students %}
                    <div class="input-group">
                        <label for="marks_{{ student.id }}" class="input-field">{{ student.name }}:</label>
                        <input type="text" name="marks_{{ student.id }}" id="marks_{{ student.id }}" class="input-field"/>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="go-back-button">Submit</button>
        </form>
    </div>
</body>
</html>
