{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Theory or Practical</title>
    <link rel="stylesheet" href="{% static 'global/styles.css' %}">
</head>

<body>
    
    <div id="content">
        <h1>Select Theory or Practical</h1>
        <form action="{% url 'select_theory_practical' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="year" value="{{ request.session.year }}">
            <input type="hidden" name="branch" value="{{ request.session.branch }}">
            <input type="hidden" name="semester" value="{{ request.session.semester }}">
            <input type="hidden" name="subject" value="{{ request.session.subject }}">
            <input type="hidden" name="component" value="{{ request.session.component }}">
            <div class="group-box">
                <button type="submit" name="type" value="Theory" class="square-button">Theory</button>
                <button type="submit" name="type" value="Practical" class="square-button">Practical</button>
            </div>
        </form>
    </div>
</body>

</html>
